@tailwind base;
@tailwind components;
@tailwind utilities;

.button-slice::after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  right: -1px;
  bottom: 0;
  transform: translate(100%, 0%) rotate(45deg);
  transition: .3s all ease-out;
  will-change: transform;
  z-index: -1;
  transform-origin: bottom right;
}

.button-slice:hover:after {
  transform: translate(0, 0);
}
